<nav class="teal" role="navigation">
	<div class="nav-wrapper container">
		<a id="logo-container" href="#" class="brand-logo white-text">Release Day Starter Pack</a>
		<ul id="nav-desktop" class="right hide-on-med-and-down">
			<li><a class="white-text" href="#">Vote</a></li>
			<li><a class="white-text" href="orders">Orders</a></li>
			<li><a class="white-text" href="#">History</a></li>
		</ul>

		<ul id="nav-mobile" class="side-nav">
			<li><a class="white-text" href="#">Vote</a></li>
			<li><a class="white-text" href="/orders">Orders</a></li>
			<li><a class="white-text" href="#">History</a></li>
		</ul>
		<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
	</div>
</nav>
